#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build: 
	$(MAKE)
	$(MAKE) libs
	$(MAKE) -C gui/linux-gtk
	$(MAKE) -C src/olsr_switch

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C src/olsr_switch clean
	$(MAKE) -C $(CURDIR)/gui/linux-gtk clean
	rm -f $(CURDIR)/gui/linux-gtk/olsrd-gui
	$(MAKE) clean
	$(MAKE) clean_libs
	# uberclean fails sometimes because it does "find -name '*.[od]'", which
	# also finds the debian/etc/init.d directory, which "rm -f" cannot remove
	#$(MAKE) uberclean

override_dh_auto_install:
	$(MAKE) DESTDIR=$(CURDIR)/debian/olsrd install STRIP=: 
	$(MAKE) DESTDIR=$(CURDIR)/debian/olsrd-plugins libs_install STRIP=:
	$(MAKE) -C gui/linux-gtk DESTDIR=$(CURDIR)/debian/olsrd-gui install
	install -d $(CURDIR)/debian/olsrd/usr/bin/
	install -p -m0755 olsr_switch $(CURDIR)/debian/olsrd/usr/bin/
	install -d $(CURDIR)/debian/olsrd/usr/share/man/man8
	install -p -m0644 files/olsr_switch.8.gz \
		$(CURDIR)/debian/olsrd/usr/share/man/man8
	install -d $(CURDIR)/debian/olsrd-gui/usr/share/doc/olsrd-gui/
	install -p -m0644 gui/linux-gtk/CHANGELOG \
		$(CURDIR)/debian/olsrd-gui/usr/share/doc/olsrd-gui/changelog
	gzip -9 $(CURDIR)/debian/olsrd-gui/usr/share/doc/olsrd-gui/changelog
	# provide better default config
	rm $(CURDIR)/debian/olsrd/etc/olsrd/olsrd.conf
	cp $(CURDIR)/debian/olsrd.conf $(CURDIR)/debian/olsrd/etc/olsrd/olsrd.conf
	cp  $(CURDIR)/debian/olsrd-default $(CURDIR)/debian/olsrd/etc/default/olsrd

override_dh_compress:
	# compress, but don't compress README_NAMESERVICE, for consistency reasons
	dh_compress -XREADME_NAMESERVICE -XREADME_BMF
